{% extends "base.html" %} {% block content %}
<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="card mb-3">
        <div class="row g-0">
          <div class="col-md-3 d-flex align-items-center" style="padding: 1rem">
            <img
              src="https://i.namu.wiki/i/iIn7-sBn6V-4FXZsxWkeqnrdlA923Au8zVccPM9diL1_Z-eb6AdQTe6GdQFfya1SsVPTLe6Bm2IOyjY-EbDi9g.webp"
              class="img-fluid rounded-start"
              alt="프로필 이미지"
            />
          </div>
          <div class="col-md-9">
            <div class="card-body">
              <h5 class="card-title">이름: 에도가와 코난</h5>
              <p class="card-text">내 이름은 코난 탐정이죠죠</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
